.socialMediaForm{
    border-radius: 10px;
    padding: 30px;
    margin: auto;
    width: 350px;
    background-color: rgb(255, 183, 0);
    box-shadow: 0px 0px 10px black;
   text-align: center;
   display: none;

}

input, textarea{
    outline: none;
    border: 2px solid black;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    font-size: 20px;
   color: black;
}

button{
     outline: none;
     border-radius: 10px;
     padding: 10px;
    border: 2px solid black;
    background: blue;
    color: white;
}

.socialMediaPosts{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.getPostsByTag{
     border: 2px solid black;
    padding: 10px;
    border-radius: 10px;
    padding: 10px;
    max-width: 500px;
    display: flex;
    margin: 10px auto;
    justify-content: space-between;
}

.getPostsByTag input{
    border: none;
}

#getPostsByTagErrorMsg{
    text-align: center;
    font-size: 14px;
    color: red;
}